[user]
        name = Nicholas LeBlanc
        email = nicholas@quantifi.ca
        username = nicholasleblanc
[init]
        defaultbranch = main
[pull]
        rebase = false
[push]
        default = simple
        followtags = true
        default = current
        autoSetupRemote = true
[core]
        excludesfile = ~/.gitignore-system
[url "git@github.com:"]
        insteadof = gh:
        pushinsteadof = git://github.com/
[url "git://github.com/"]
        insteadof = github:
[url "git@gist.github.com:"]
        insteadof = gst:
        pushinsteadof = git://gist.github.com/
[url "git://gist.github.com/"]
        insteadof = gist:
